*~
*.buildinfo
*.changes
*.deb
*.ddeb
*.dsc
*.o
*.orig.tar.gz
*.tar.xz
*.service
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build_debs.sh
compile
config.log
config.status
configure
debian/changelog
debian/control
debian/source/Makefile
depcomp
install-sh
missing
moc_*
src/dbconvd
