*~
*.buildinfo
*.changes
*.deb
*.ddeb
*.dsc
*.o
*.tar.gz
*.tar.xz
*.rpm
*.service
*.spec
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build_debs.sh
compile
config.log
config.status
configure
debian/changelog
debian/control
debian/source/Makefile
depcomp
install-sh
missing
moc_*
src/compat.h
src/dbconvd
